<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>808004665331-hjvmg5rhma2f0d2n5rojcdqrjsossga5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.808004665331-hjvmg5rhma2f0d2n5rojcdqrjsossga5</string>
	<key>API_KEY</key>
	<string>AIzaSyDLQvndTn_QYB6KEhvVMRw_8SornKENRVM</string>
	<key>GCM_SENDER_ID</key>
	<string>808004665331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.yahyeapps.somjeeb</string>
	<key>PROJECT_ID</key>
	<string>somjeeb-1622a</string>
	<key>STORAGE_BUCKET</key>
	<string>somjeeb-1622a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:808004665331:ios:165edb2756951a8b1f1c86</string>
</dict>
</plist>